node_red_data/.flows.json.backup
[
    {
        "id": "94fa79fc5652e520",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11bfcfcf54c26bd5",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da9e3a4c3b17b1c7",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bed3a9855a294b17",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd5fa83051d3f56e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5b5fa7291d61b26",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f95c6440d61a454",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e9086dc1091e48c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-open",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b81ce4fbbc57d7d7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2dd1f5e008e0f128",
        "type": "inject",
        "z": "94fa79fc5652e520",
        "name": "ovcamp1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "$join(['dt/OV01/device', $string($floor($random()*10))])",
                "vt": "jsonata"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"att\":{\"opid\":\"48AH2104000030\",\"ppid\":\"48AH2104000030<<<<<<\",\"flid\":\"\",\"frmv\":\"3.1.2\"},\"sts\":{\"plat\":\"22.684426\",\"plon\":\"114.229656\",\"rcrd\":1096,\"trhd\":0,\"tpgd\":0,\"pgst\":\"free\"},\"dta\":{\"batp\":597,\"inpp\":22995,\"outp\":570,\"pckv\":23200,\"pckc\":900,\"rsoc\":150,\"rcap\":48000,\"fccp\":48000,\"pckt\":25}}",
        "payloadType": "json",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "4d573377d49ead71"
            ]
        ]
    },
    {
        "id": "62d6e974ad40220f",
        "type": "debug",
        "z": "94fa79fc5652e520",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "9ea2fdc1be28a24d",
        "type": "mqtt in",
        "z": "94fa79fc5652e520",
        "name": "",
        "topic": "$join(['dt/OV01/device', $string($floor($random()*10))])",
        "qos": "0",
        "datatype": "auto",
        "broker": "e9086dc1091e48c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "62d6e974ad40220f"
            ]
        ]
    },
    {
        "id": "d5ef2b094fe03432",
        "type": "mqtt out",
        "z": "94fa79fc5652e520",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3f95c6440d61a454",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "4d573377d49ead71",
        "type": "mqtt out",
        "z": "94fa79fc5652e520",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9086dc1091e48c8",
        "x": 630,
        "y": 200,
        "wires": []
    }
]